.contact-box {
    margin-top: 94px;
    background-color:var(--description-color);
}

.display-box {
display: flex;
}

.section-footer {
    padding: 60px 0 60px;
}

.footer-heading {
    margin-bottom: 20px;
}

.contact {
    list-style-type:none;
}

.contact-list:not(:last-child) {
    margin-bottom: 9px;
}

.contact-link-map {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--white-color);
&:hover,
&:focus {color: var(--main-color);}
}

.contact-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color:var(--address-color);

&:hover,
&:focus {color: var(--main-color);}
}

.newsletter {
    display:flex;
    padding-top: 72px;
}

.bottom-logo {
    color: var(--white-color);
}
 

