.contact-box {
    margin-top: 94px;
    background-color:var(--description-color);
}

.display-box {
display: flex;

}

.section-footer {
    padding: 60px 0 60px;
}

.footer-heading {
    margin-bottom: 20px;
}

.contact-list {
    list-style-type:none;
}

.contact-list-item:not(:last-child) {
    margin-bottom: 9px;
}

.map-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color: var(--white-color);
}

.contact-link {
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.714;
letter-spacing: 0.03em;
color:var(--address-color);
}

.map-link:hover,
.map-link:focus,
.contact-link:hover,
.contact-link:focus {
    color: var(--main-color);
}

.media-footer {
    display: block;
    text-align: center;
    justify-content: center;
    margin-left: 70px;
}

.heading-footer {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 20px;
    color:var(--white-color);
    margin-top: 72px;
}

.list-footer {
    display: inline-block;
    list-style-type: none;
}


.link-footer_icon {
    display: flex;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    fill:var(--white-color);
    background-color: var(--media-bgr-footer);
}

.link-footer_icon:hover,
.link-footer_icon:focus {
    background-color:var(--main-color);
}

.icon-footer {
    display: flex;
}

.newsletter {
    display:flex;
    padding-top: 72px;
}

.title-newsletter {

   display: flex;
   flex-direction: column;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 20px;
    margin-left: 72px;
    color:var(--white-color);
}

.email-newsletter {
    margin-right: 12px;
    margin-top:20px;
    width: 358px;
    height: 50px;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    font-size: 16px;
line-height: 20px;
display: flex;
align-items: center;
letter-spacing: 0.03em;
padding-left: 16px;
color: rgba(255, 255, 255, 0.6);
}

.btn-newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    letter-spacing: 0.06em;
    margin-top:36px;
    width: 200px;
    height: 50px;
    background:var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
    color: var(--white-color);
}

.btn-newsletter:hover,
.btn-newsletter:focus {
    cursor: pointer;
}

.icon-send {
fill: var(--white-color);
margin-left: 24px;
}

.bottom-logo {
    color: var(--white-color);
}
 

